@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0px 0px 5px 5px #00000027;
}

header h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 25px;
}

.container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.item label {
    font-family: "Varela Round", sans-serif;
    padding-bottom: 10px;
}

.item input[type="text"] {
    width: 95%;
    border: 2px solid gray;
    font-family: "Varela Round", sans-serif;
    font-size: 15px;
    padding: 5px 5px;
    border-radius: 5px;
    outline: none;
    transition: all ease 0.2s;
}

.item input[type="text"]:hover, .item input[type="text"]:focus {
    border-color: black;
}

#submitBtn {
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
    width: fit-content;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    transition: all ease-in 0.1s;
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px #00000027;
}

#submitBtn:hover, #submitBtn:focus {
    background-color: #000;
    color: #fff;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}